<div class="container-fluid picback">
  <div class="row">
    <div class="col">
      <div class="card mx-auto mt-5 p-2" style="width: 32rem;" ng-class="d.errorClass">
        <h1 class="display-5 card-title">Create a new account</h1>
        <div class="card-body" ng-hide="d.auth.isLoggedIn">
          <form name="loginForm" ng-disabled="d.inProg">
            <div class="form-group">
              <label for="emailInput">Email (will not be displayed)</label>
              <input ng-model="d.email" ng-disabled="d.inProg" type="email" class="form-control form-control-lg" id="emailInput" required>
            </div>
            <div class="form-group">
              <label for="userInput">Username (will be public)</label>
              <input ng-model="d.username" ng-disabled="d.inProg" type="text" class="form-control form-control-lg" id="userInput" required maxLength="30">
            </div>
            <div class="form-group">
              <label for="passwordInput">Password</label>
              <input ng-model="d.password" ng-disabled="d.inProg" type="password" class="form-control form-control-lg" id="passwordInput" required>
            </div>
            <div class="form-group">
              <label for="confirmPasswordInput">Confirm Password</label>
              <input ng-model="d.confirmPassword" ng-disabled="d.inProg" type="password" class="form-control form-control-lg" id="confirmPasswordInput" required>
              <small ng-show="d.password != d.confirmPassword" class="text-danger">Passwords do not match</small>
            </div>
            <div class="form-group">
              <p ng-show="d.error" class="text-danger font-weight-bold" ng-bind-html="d.error"></p>
            </div>
            <div class="form-group">
              <button ng-disabled="d.inProg" type="submit" class="btn btn-primary btn-lg float-right" ng-click="register()">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" ng-show="d.inProg"></span>
                Sign Me Up
              </button>
            </div>
          </form>
        </div>
        <div class="card-body" ng-show="d.auth.isLoggedIn">
          You are logged in as {{d.auth.user}}<br>
          Would you like to <a href ng-click="logout()">logout</a>?
        </div>
      </div>
    </div>
  </div>
</div>